<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_banner"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t("listing_banners") %></h1>


<table class="index">
  <thead>
  <tr>
    <th>
      <%= t("position")%>
    </th>
    <th>
      <%= t("image")%>      
    </th>
    <th>
      <%= t("tagline")%>
    </th>
    <th>
      <%= t("target_url")%>
    </th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <% @banners.each do |banner|%>
      <tr id="<%= dom_id banner %>">
        <td><%=banner.position%></td>
        <td><%= link_to(image_tag(banner.image.url(:thumb)), banner.image.url(:banner)) %></td>
        <td><%=banner.tagline%></td>        
        <td><%=banner.target_url%></td>
        <td>
          <%=link_to_edit banner%> &nbsp;
          <%=link_to_delete banner%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>